$white: #FFF;
$black: #000;
$active-btn: #F2743E;
$active: #E1215F;
$darkgrey: #3a3a32;
$gray: #807f6b;
$greenyellow: #deff3c;
$yellowgreen: #96dd1d;
$green: #3e6b02;
$bg: #f6f6f5;
$blue: #03B6E7;

$facebook: #3B5998;
$vk: #45668E;
$twitter: #1DA1F2;
$youtube: #FF0000;
$instagram: #c13584;
$active: #E1215F;

$extra-small: 0.3em;
$smaller: 0.5em;
$smaller2: 0.7em;
$small: 0.8em;
$normal: 1em;
$normal-plus: 1.2em;
$big: 1.5em;
$big2: 2em;
$bigger: 3em;
$extra-big: 5em;
