@import "mixins";
@import "variables";

@media (min-width: 768px) {
  .slogan-section {
    .slogan-title h2 {
        font-size: $bigger;
    }
  }
  #footer {
    .footer-item {
      border-top: none;
      border-bottom: none;
      border-right: 1px solid $gray;
      border-left: 1px solid $gray;
    }
  }
}

@media (min-width: 1200px) {
  #header {
    nav li a {
      font-size: $normal;
    }
  }
}